@using AdCampaign.DAL.Entities
@using AdCampaign.Common
@using AdCampaign.Authetication
@model IEnumerable<AdCampaign.Controllers.AdvertViewModel>

<div class="container">
    <div class="row justify-content-center">
        <h2 class="col-12">Список рекламных кампаний</h2>
    </div>
    @if (User.IsAdvertiser())
    {
        <a asp-controller="Advert" asp-action="Create" class="btn btn-primary" style="margin-bottom: 7px">Добавить рекламную кампанию</a>        
    }
    <div class="row justify-content-center table-responsive-lg">
        <table class="col-12 table">
            <tr>
                <th>Название кампании</th>

                @if (User.IsAdministratorOrModerator())
                {
                    <th>Владелец</th>
                }
                <th>Статус</th>
                <th>Данные для заполнения</th>
                <th>Действия</th>
            </tr>
            @{
                foreach (var advert in Model)
                {
                    <tr>
                        <td>
                            @advert.Name
                        </td>
                        @if (User.IsAdministratorOrModerator())
                        {
                            <td>
                                @Html.ActionLink(@advert.OwnerName, controllerName: "User", actionName: "Edit", routeValues: new {id = @advert.OwnerId})
                            </td>
                        }
                        <td>
                             @if (@advert.IsActive)
                             {
                                 <div class="alert alert-success m-0 pt-1 pb-1">Активна</div>
                             }
                             @if (@advert.IsBlocked)
                             {
                                 <div class="alert alert-danger m-0 pt-1 pb-1">Заблокирована</div>
                             }
                        </td>
                        <td>
                            @(advert.RequestType switch{RequestType.Email => "Email", RequestType.Phone=> "Телефон", _=> "Email и телефон"})
                        </td>
                        <td>
                            <div class="btn-group">
                                <a asp-controller="Application" asp-action="Index" asp-route-advertId="@advert.Id" class="btn btn-secondary">Заявки</a>
                                <a asp-action="Statistic" asp-route-id="@advert.Id" class="btn btn-secondary">Статистика</a>
                                <a asp-action="Update" asp-route-id="@advert.Id" class="btn btn-primary">Редактировать</a>
                                <a asp-action="Delete" asp-route-id="@advert.Id" class="btn btn-danger">Удалить</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
