@using AdCampaign.DAL.Entities
@using AdCampaign.Common
@using AdCampaign.Authetication
@model IEnumerable<AdCampaign.Controllers.AdvertViewModel>

<div class="container">
    <div class="row justify-content-center">
        <h1 class="col-12">Список рекламных кампаний</h1>
    </div>
    <a asp-controller="Advert" asp-action="Create" class="btn btn-primary" style="margin-bottom: 7px">Добавить рекламную кампанию</a>
    <div class="row justify-content-center">
        <table class="col-12 table">
            <tr>
                <th>Название кампании</th>

                @if (User.IsAdministratorOrModerator())
                {
                    <th>Владелец</th>
                }
                <th>Активна</th>
                <th>Заблокирована</th>
                <th>Данные для заполнения</th>
                <th>Действия</th>
            </tr>
            @{
                foreach (var advert in Model)
                {
                    <tr>
                        <td>
                            @advert.Name
                        </td>
                        @if (User.IsAdministratorOrModerator())
                        {
                            <td>
                                @Html.ActionLink(@advert.OwnerName, controllerName: "User", actionName: "Edit", routeValues: new {id = @advert.OwnerId})
                            </td>
                        }
                        <td>
                            <input type="checkbox" onclick="this.checked=!this.checked;" checked="@advert.IsActive">
                        </td>
                         <td>
                             <input type="checkbox" onclick="this.checked=!this.checked;" checked="@advert."></td>
                         <td>
                            @(advert.RequestType switch{RequestType.Email => "Email", RequestType.Phone=> "Телефон", _=> "Email и телефон"})
                        </td>
                        <td>
                            @Html.ActionLink("Заявки", actionName: "Index", "Application", new {advertId = advert.Id})
                            @Html.ActionLink("Статистика", actionName: "Statistic", new {id = @advert.Id})
                            @Html.ActionLink("Редактировать", actionName: "Update", new {id = @advert.Id})
                            @Html.ActionLink("Удалить", actionName: "Delete", routeValues: new {@advert.Id})
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
