@using AdCampaign.DAL.Entities
@using AdCampaign.Common
@model IEnumerable<AdCampaign.Controllers.AdvertViewModel>

<div class="container">
    <div class="row justify-content-center">
        <h1 class="col-12">Список рекламных кампаний</h1>
    </div>
    <a class="nav-link" asp-controller="Advert" asp-action="Create">Создать рекламную кампанию</a>

    <div class="row justify-content-center">
        <table class="col-12 table">
            <tr>
                <th>Name</th>
                <th>Owner</th>
                <th>Active</th>
                <th>Data</th>
                <th>Actions</th>
            </tr>
            @{
                foreach (var advert in Model)
                {
                    <tr>
                        <td>
                            @advert.Name
                        </td>
                        <td>
                            @Html.ActionLink(@advert.OwnerName, controllerName: "User", actionName: "Details", routeValues: new {id = @advert.OwnerId})
                        </td>
                        <td>
                            <input type="checkbox" onclick="this.checked=!this.checked;" checked="@advert.IsActive">
                        </td>
                        <td>
                            @(advert.RequestType switch{RequestType.Email => "Email", RequestType.Phone=> "Телефон", _=> "Email и телефон"})
                        </td>
                        <td>
                            @Html.ActionLink("Запросы", actionName: "Index", "Application", new {advertId = advert.Id})
                            @Html.ActionLink("Статистика", actionName: "Statistics")
                            @Html.ActionLink("Редактировать", actionName: "Update", new {id = @advert.Id})
                            @Html.ActionLink("Удалить", actionName: "Delete", routeValues: new {@advert.Id})
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>