@using AdCampaign.Common
@using AdCampaign.Models.Users
@model AdCampaign.Models.Users.UserEditRequest
@{
    ViewData["Title"] = "Редактировать пользователя";
}
<div class="row justify-content-center">
    <h1 class="col-8">Редактировать пользователя</h1>
</div>
@if (ViewData["Errors"] is Error[] errors)
{
    foreach (var error in errors)
    {
        <div class="row justify-content-center">
            <div class="alert alert-danger mt-5" role="alert">
                @error.Message
            </div>
        </div>
    }
}
<div class="justify-content-center">
    <div class="col-8">
        <form asp-action="Edit" method="post">
            <input type="hidden" value="@Model.Id" name="id">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" disabled checked="@Model.IsActive" id="customCheck">
                <label class="custom-control-label" for="customCheck">Активен</label>
            </div>
            <div class="form-group">
                <label for="name">Имя</label>
                <input type="text" name="name" class="form-control" id="name" value="@Model.Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" id="email" value="@Model.Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="phone">Телефон</label>
                <input type="text" name="phone" class="form-control" id="phone" value="@Model.Phone">
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="password">Новый пароль</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>
            <div class="form-group">
                <label for="role">Роль</label>
                <select asp-for="@Model.Role" asp-items="@UserRoles.GetList()" name="role" id="role" class="form-control"></select>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
        <form method="post" asp-controller="User" asp-action="Block" class="form-inline my-2 my-lg-0">
            <input type="hidden" name="id" value="@Model.Id">
            <button type="submit" class="btn btn-primary">Заблокировать</button>
        </form>
        <form method="post" asp-controller="User" asp-action="UnBlock" class="form-inline my-2 my-lg-0">
            <input type="hidden" name="id" value="@Model.Id">
            <button type="submit" class="btn btn-primary">Разблокировать</button>
        </form> 
        <a href="google.com" class="btn btn-primary">Рекламные компании</a>
    </div>
</div>
