@model List<AdCampaign.BLL.Services.Adverts.DTO.ShowAdvertDto>
@{
    bool placeholderDisplayed = false;
    ViewData["Title"] = "Главная";
}

<div class="container">
    <div class="row position-relative d-none d-lg-flex">
        @if (Model.Count != 0)
        {
            var item = Model[0];
            <div class="col-12 d-none d-lg-flex justify-content-center" data-toggle="collapse" href="#collapseExample@(item.Id)" onclick="sendClickEvent('@(item.Id)')">
                <img class="img-fluid" style="height: 250px" src="@Url.Action("Get", "Files", new {id = item.PrimaryImageId})"/>
            </div>
            <div class="collapse position-absolute" id="collapseExample@(item.Id)" style="width: calc(100% - 30px); right: 15px;">
                @Html.Partial("FillingFormView", new CreateApplicationViewModel() {AdvertId = item.Id, RequestType = item.RequestType})

            </div>
        }
        else
        {
            <div class="col-12 d-none d-lg-flex">
                <div class="jumbotron jumbotron-fluid w-100  mb-0" style="height: 250px">
                    <div class="container">
                        <p class="lead">
                            Это место сейчас свободно, мы готовы с вами сотрудничать, напишите нам <br/> <a href="mailto:admin@test.local">admin@test.local</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="row">
        @for (int index = 0; index < 4; index++)
        {
            int itemIndex = index;

            if (Model.Count <= index)
            {
                if (!placeholderDisplayed)
                {
                    placeholderDisplayed = true;
                    <div class="col-12 col-lg-4 pt-4 @if (itemIndex == 0) {@("d-lg-none")}">
                        <div class="jumbotron jumbotron-fluid position-relative mb-0"
                             style="height: 250px">
                            <div class="container">
                                <p class="lead">
                                    Это место сейчас свободно, мы готовы с вами сотрудничать, напишите нам <br/> <a href="mailto:admin@test.local">admin@test.local</a>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                var item = Model[itemIndex];
                <div class="col-12 col-lg-4 pt-4 position-relative @if (itemIndex == 0) {@("d-lg-none")}">
                    <img class="w-100"
                         data-toggle="collapse"
                         href="#collapseExample@(item.Id)"
                         style="height: 250px"
                         onclick="sendClickEvent('@(item.Id)')"
                         src="@Url.Action("Get", "Files", new {id = item.SecondaryImageId})"/>
                    <div class="collapse position-absolute" id="collapseExample@(item.Id)" style="width: calc(100% - 30px); right: 15px; top: 24px">
                        @Html.Partial("FillingFormView", new CreateApplicationViewModel() {AdvertId = item.Id, RequestType = item.RequestType})
                    </div>
                </div>
            }
        }
    </div>
    <script>
        window.sendClickEvent = (id) => {
            console.log(id)
            
            const form = new FormData();
            form.append("id", id);
            form.append("statisticType", 1);

            fetch('/Advert/IncrementStatistic', {
              method: 'POST',
              body: form
            });

            
        } 
    </script>
    
    <script>
        $.validator.addMethod('vatNumber', function (value, element, params) {
        
            var genre = $(params[0]).val(), businessType = params[1], vat = value;
                
            if (genre.includes(businessType)) {
                if (value.length === 0) {
                    return false;
                } else {
                    return true;
                }
            } else {
                return true;
            }
        });
        
        $.validator.unobtrusive.adapters.add('vatNumber', ['businessType'], function (options) {
            var element = $(options.form).find('#RequestType')[0];
        
            options.rules['vatNumber'] = [element, options.params['businessType']];
            options.messages['vatNumber'] = options.message;
        });
    
     $.validator.addMethod("phone", function (value, element) {
            if (this.optional(element)) {
                return true;
            }
            var reverseValue = $.trim(value).split("").reverse().join("");
            var reverseRegEx = new RegExp("^(\\d+\\s?(x|\\.txe?)\\s?)?((\\)(\\d+[\\s\\-\\.]?)?\\d+\\(|\\d+)[\\s\\-\\.]?)*(\\)([\\s\\-\\.]?\\d+)?\\d+\\+?\\((?!\\+.*)|\\d+)(\\s?\\+)?$", "i");
            var match = reverseRegEx.exec(reverseValue);
            return (match && (match.index === 0) && (match[0].length === value.length));
        });
        $.validator.unobtrusive.adapters.addBool("phone");
        </script>
</div>