@model List<AdCampaign.BLL.Services.Adverts.DTO.ShowAdvertDto>
@{
    ViewData["Title"] = "Главная";
}

<div class="container">
    <div class="row position-relative">
        @if (Model.Count != 0)
        {
            var item = Model[0];
            <div class="col-12 d-none d-lg-flex justify-content-center" data-toggle="collapse" href="#collapseExample" onclick="sendClickEvent('@(item.Id)')">
                <img class="img-fluid" style="height: 250px" src="@Url.Action("Get", "Files", new {id = item.PrimaryImageId})"/>
            </div>
            <div class="collapse position-absolute" id="collapseExample" style="width: calc(100% - 30px); right: 15px;">
                <form class="card p-2" style="height: 250px" asp-controller="Application" asp-action="Create" method="post">
                    <input type="hidden" name="AdvertId" value="@item.Id">

                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" name="Email" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Телефон</label>
                        <input type="phone" class="form-control" name="Phone" id="exampleInputPassword1">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Отправить</button>
                        <button class="btn btn-outline-secondary" data-toggle="collapse" href="#collapseExample">Отменить</button>
                    </div>
                </form>
            </div>
        }
        else
        {
            <div class="col-12 d-none d-lg-flex">
                <div class="jumbotron jumbotron-fluid w-100" style="height: 250px">
                    <div class="container">
                        <p class="lead">
                            Это место сейчас свободно, мы готовы с вами сотрудничать, напишите нам <br/> <a href="mailto:vlad@htmlbook.ru">vlad@htmlbook.ru</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="row">
        @for (int index = 0; index < 4; index++)
        {
            int itemIndex = index;

            if (Model.Count <= index)
            {
                <div class="col-12 col-lg-4 pt-4 @if (itemIndex == 0) {@("d-lg-none")}">
                    <div class="jumbotron jumbotron-fluid position-relative"
                         style="height: 250px">
                        <div class="container">
                            <p class="lead">
                                Это место сейчас свободно, мы готовы с вами сотрудничать, напишите нам <br/> <a href="mailto:vlad@htmlbook.ru">vlad@htmlbook.ru</a>
                            </p>
                        </div>
                    </div>
                </div>
            }
            else
            {
                var item = Model[itemIndex];
                <div class="col-12 col-lg-4 pt-4 position-relative @if (itemIndex == 0) {@("d-lg-none")}">
                    <img class="w-100"
                         data-toggle="collapse"
                         href="#collapseExample@(index)"
                         style="height: 250px"
                         onclick="sendClickEvent('@(item.Id)')"
                         src="@Url.Action("Get", "Files", new {id = item.SecondaryImageId})"/>
                    <div class="collapse position-absolute" id="collapseExample@(index)" style="width: calc(100% - 30px); right: 15px; top: 24px">
                        <form class="card p-2" style="height: 250px" asp-controller="Application" asp-action="Create" method="post">
                            <input type="hidden" name="AdvertId" value="@item.Id">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" name="Email" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Телефон</label>
                                <input type="phone" class="form-control" name="Phone" id="exampleInputPassword1">
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button class="btn btn-outline-secondary" data-toggle="collapse" href="#collapseExample@(index)">Отменить</button>
                            </div>
                        </form>
                    </div>
                </div>
            }
        }
    </div>
    <script>
        window.sendClickEvent = (id) => {
            console.log(id)
            
            const form = new FormData();
            form.append("id", id);
            form.append("statisticType", 1);

            fetch('/Advert/IncrementStatistic', {
              method: 'POST',
              body: form
            });

            
        } 
    </script>
</div>